[submodule "F0-rD_Ranger.git"]
	path = F0-rD_Ranger
	url = git@github.com:dotHTM/F0-rD_Ranger.git
[submodule "demo/playing_cards"]
	path = demo/playing_cards
	url = https://github.com/dotHTM/card_css.git
