---
layout: page
title:
bullet:
hide_title: true
feed: false
---
<div class="home">

  <ul class="post-list">

    {% assign doclist = site.pages | sort: 'updated' | sort: 'date' | reverse | slice: 0, 3 %}
    {% for page in doclist %}

      <li>
        <h2>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}"> {% include bullet.html %} {{ page.title }}</a><br>
          {% if page.updated %}
            <span class="meta-updated">Updated: {{ page.updated | date: site.dateformat }}</span>
          {% endif %}
          {% if page.date %}
            <span class="meta-created">Created: {{ page.date | date: site.dateformat }}</span>
          {% endif %}
        </h2>
        <div class="post-content">
          <div class="hero-image">
            {% if page.image %}<img src="{{page.image | prepend: "/posts/art/image/"}}" alt="{{page.title}}" />{% endif %}

          </div>
          {% if page.content %}{{ page.content | markdownify }}{% endif %}
        </div>
      </li>


    {% endfor %}
  </ul>


</div>