  <meta property="og:title" content="dotHTM - {% if page.title %}{{page.title}}{% else %}I'm a cool webpage!{% endif %}" />
  <meta property="og:type" content="{% if page.layout == "music" && page.file %}music.song{% else %}article{% endif %}" />
  <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.logo | absolute_url }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  
  <meta property="og:description" content="{% if page.desc %}{{ page.desc }}{% else %}{{ page.content | normalize_whitespace | truncatewords: 20 | xml_escape }}{% endif %}" />
  
  
  {% if page.layout == "music" && page.file %}
  <meta property="og:audio" content="{{ page.file | absolute_url }}" />
  <meta property="og:audio:secure_url" content="{{ page.file | absolute_url }}" />
  <meta property="og:audio:type" content="audio/mpeg" />
  {% endif %}