$spacing-unit: 20px;
$violet_dark: hsl(260, 50%, 30%);
$violet: hsl(260, 50%, 80%);
$green: lime;
$green_dark: hsl(130, 100%, 25%);
$pink: hotpink;
$pink_dark: hsl(330, 100%, 30%);
$yellow: lighten(yellow, 35%);

$cyan: cyan;
$cyan_dark: darken(cyan, 10);

$stripe_wide: 30px;
$stripe_edge: 15px;
$slant_angle: 17deg;
$slant_angle2: 7deg;
$darken_a: 27%;
$darken_b: 35%;
$stripe-angle: 90deg+$slant_angle;

$sepia: hsl(50, 100%, 90%);

$title_text_color: white;
$text_color: $violet_dark;
$subdue_color: rgba($yellow, .50);

$code_color : darken($cyan_dark, 10);
$code_background: rgba($code_color, .15);

$document_background : $sepia;


body {
  padding-top: 2rem;
  padding-bottom: 12rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  ;
  color: $text_color;
  background:
    linear-gradient(0deg,
    rgba($pink, .20),
    rgba($cyan, .20),
    ),
    repeating-linear-gradient(-$stripe-angle,
    darken($violet, $darken_a),
    darken($violet, $darken_a) $stripe_wide,
    darken($violet, $darken_b) $stripe_wide + $stripe_edge,
    darken($violet, $darken_b) 2*$stripe_wide + $stripe_edge,
    darken($violet, $darken_a) 2*$stripe_wide + 2*$stripe_edge,
    ),
  ;
  background-blend-mode: lighten;
}


.wrapper {
  box-shadow: 0px 5px 10px 2px hsla(0, 0%, 0%, 0.5);
}

header,
footer {

  .wrapper {
    background: $violet_dark;
    color: $title_text_color;
  }
}

.wrapper {
  color: $text_color;
  background: $document_background;
}

header {
  #site-title {
    width: 100%;
    float: left;


    .dot {
      color: $pink;
    }

    .htm {
      color: $green;
    }

    .platform {
      color: $title_text_color;
      font-size: 0.6em;
    }

    font-size: 4rem;
    font-family: SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono";
  }

  #site-bar {
    width: 100%;
    float: left;
    vertical-align: middle;
  }

  #site-desc {
    float: left;
    vertical-align: middle;
  }

  #site-nav {
    float: right;

    .divider {
      font-size: 2rem;
    }

    * {
      vertical-align: middle;
    }
  }

  .divider {
    color: $pink;
  }

  a {
    color: white;
    text-decoration: none;

    #site-title {
      color: $pink;
    }

    &.page-link {
      color: white;
    }

    &:hover.page-link {
      filter: brightness(150%);
    }
  }
}

.small {
  font-size: x-small;
}


.page-content,
footer {


  a {
    color: $green_dark;

    &:hover,
    &:hover:visited {
      color: lighten($green_dark, 20%);
    }

    &:visited {
      color: lighten($green_dark, 10%);
    }
  }
}

.page-content {
  strong {
    font-weight: 700;
    font-size: 1.2em;
    color: $violet_dark;
  }

  emphasis {
    // font-weight: 900;
    font-size: 1.2em;
    color: $pink_dark;
  }
}

@mixin bi_light_1 {
  color: white;
  background:
    repeating-linear-gradient(180deg,
    rgba(white, 0.2),
    rgba(white, 0.0) 100%,
    ),
    repeating-linear-gradient(90deg,
    lighten($violet_dark, 4%),
    darken($pink, 50%) 100%,
    ),
    repeating-linear-gradient(0deg,
    transparent,
    rgba(yellow, .20) 100%,
    );
  background-blend-mode: lighten;
}

@mixin bi_light_2 {
  color: white;
  background:
    repeating-linear-gradient(180deg,
    rgba(white, 0.2),
    rgba(white, 0.0) 100%,
    ),
    repeating-linear-gradient(0deg,
    lighten($violet_dark, 4%),
    darken($green, 35%) 100%,
    ),
    repeating-linear-gradient(-90deg,
    transparent,
    rgba($pink, .20) 100%,
    );
  background-blend-mode: lighten;
}

@mixin bi_light_3 {
  color: white;
  background:
    repeating-linear-gradient(180deg,
    rgba(white, 0.2),
    rgba(white, 0.0) 100%,
    ),
    repeating-linear-gradient(90deg,
    lighten($violet_dark, 4%),
    darken($cyan, 35%) 100%,
    ),
    repeating-linear-gradient(180deg,
    transparent,
    rgba($pink, .20) 100%,
    );
  background-blend-mode: lighten;
}

@mixin rhombus {
  border-radius: .5rem;
  padding: 1rem 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transform: skew(-$slant_angle2);
}

@mixin rhombus_short {
  @include rhombus;
  display: table;
}

article {
*{max-width: 100%}


  $margin_spacer: 2rem;

  .date_string {
    font-size: 2rem;
    $date_weight: 200;
    font-weight: $date_weight !important;
    // color: lighten($pink, 10);
    strong {
      font-weight: $date_weight !important;
      color: lighten($green, 10);
    }
    // padding: 1em;

    // @include rhombus_short;
    // @include bi_light_1;
  }



  .post-header {
    // background: $green_dark;
    @include bi_light_3;
    font-size: 2rem;

    header {
      margin: 0;
      padding: 0;
    }

    .title_wrap {
      // border: 1px white solid;
      // outline: 1px white solid, ;
      padding: 0px 10px;
      margin: 0;
    }

    * {
      margin: 0;
      margin-left: 2rem;
      padding: 0;
    }

    h1 {
      margin-left: 0rem;
      // transform: skew(-$slant_angle2);
    }
  }

  .post-content {
    margin-top: 0rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;

    .post-meta {
      font-weight: 900;
      font-size: large;
      color: $pink;
      margin-left: calc($margin_spacer/4);
    }
    
    .meta-updated{
     font-weight: 900;
      font-size: large;
      color: $cyan_dark;
      margin-left: calc($margin_spacer/4); 
    }
    .meta-created{
      font-weight: 900;
      font-size: large;
      color: $pink;
      margin-left: calc($margin_spacer/4);
    }


    audio {
      width: 100%;
    }

    p,
    ul,
    ol {
      margin-left: $margin_spacer;
      margin-right: calc($margin_spacer/2);
      line-height: 1.7em;
      margin-bottom: 2em;
    }

    blockquote>* {
      margin: 0;
      padding: 0;
    }

    @mixin block_content {
      margin-top: calc($margin_spacer/2);
      margin-bottom: calc($margin_spacer/2);
    }

    twitter-widget {
      margin-right: auto;
      margin-left: auto;
      @include block_content;
    }

    blockquote,
    pre {
      margin-left: calc($margin-spacer * 3 / 2);
      margin-right: calc($margin_spacer/2);
      @include block_content;
      line-height: 1.5em;
      padding: 1em;
    }

    $blockquote_border_width : 4px;

    blockquote {
      border-left: $blockquote_border_width $cyan_dark solid;
      background: rgba($cyan_dark, 0.1);
    }

    pre {
      border-left: $blockquote_border_width $code_color solid;
      background: rgba($code_color, 0.1);
      overflow-x: scroll;
    }

    p code {
      background: $code_background;
      padding: 0.2em;
      color: black;
    }

    // pre span {
    //   display: block;
    // }
    // pre span:before {
    //   counter-increment: line;
    //   content: counter(line);
    //   display: inline-block;
    //   border-right: 1px solid #ddd;
    //   padding: 0 .5em;
    //   margin-right: .5em;
    //   color: #888
    // }
    h1 {
      @include rhombus;
      @include bi_light_1;
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
      @include rhombus_short;
      padding: 0.67rem 1.5rem;
      $text_color: $green_dark;
      color: $text_color;
      border: 4px $text_color solid;
    }

    h3 {
      @include rhombus_short;
      padding: 0.5rem 1rem;
      margin-left: $margin_spacer;
      $text_color: $pink_dark;
      color: $text_color;
      border: 4px $text_color solid;
    }

    h4 {
      @include rhombus_short;
      padding: 0.5rem;
      margin-left: $margin_spacer*2;
      $text_color: $cyan_dark;
      color: $text_color;
      border: 4px $text_color solid;
    }

    h5,
    h6 {}
  }
}

ul.post-list {
  margin-left: 0 !important;
  padding-left: 0 !important;
  list-style-type: none;

  a {

    &:hover,
    &:hover:visited,
      {
      text-decoration: underline;
    }

    &,
    &:visited {
      text-decoration: none;
    }
  }

  li {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      background: #fff2;
      border-radius: .5rem;
      padding: .5rem;
    }

    // @include rhombus;
  }
}

footer {

  .foot_wrapper {
    width: 100%;
    height: 100px;
  }

  .linklist-link a {
    fill: $green;

    svg {
      transition: all .2s ease-in-out;
    }

    svg:hover {
      transform: scale(1.5);
    }

    &:hover {
      &.github {
        fill: white;
      }

      &.twitter {
        fill: #00aced;
      }

      &.mastodon {
        fill: #4988CE;
      }

      &.discord {
        fill: #7289DA;
      }

      &.rss {
        fill: orange;
      }
    }
  }
}

footer {
  .linklist {
    width: 50%;
    float: right;

    .linklist-link {
      float: right;
      margin: 10px;
      width: 48px;
      display: table;

      a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

// /**
//  * Wrapper
//  */
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  // padding-right: $spacing-unit;
  // padding-left: $spacing-unit;
  @extend %clearfix;
  padding-right: calc($spacing-unit / 2);
  padding-left: calc($spacing-unit / 2);

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    margin-right: calc($spacing-unit / 4);
    margin-left: calc($spacing-unit / 4);
  }

  margin-top:0;
  margin-bottom:0;
  // padding-top: 0 ;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}





// @mixin inversion {
//   filter: invert(100%) hue-rotate(180deg);
// }

// /**
//  * Dark mode
//  */
// .dark-mode .page-content {
//   @include inversion;

//   img {
//     @include inversion;
//   }
// }
