@use "sass:color";

$content-width: 800px;
$color_rotate : 0;
$spacing-unit: 20px;
$violet_dark: hsl($color_rotate+260, 50%, 30%);
$violet: hsl($color_rotate+260, 50%, 80%);

$pinkish_violet: hsl($color_rotate+300, 50%, 80%);
$cyanish_violet: hsl($color_rotate+200, 50%, 80%);

$green: color.adjust(lime, $hue: $color_rotate);
$green_dark: hsl($color_rotate+130, 100%, 25%);
$pink: color.adjust(hotpink, $hue: $color_rotate);
$pink_dark: hsl($color_rotate+330, 100%, 30%);
$yellow: color.adjust(yellow, $lightness: 35%);
$darkyellow: color.adjust(yellow, $lightness: -25%);

$cyan: color.adjust(cyan, $hue: $color_rotate);
$cyan_dark: color.adjust(cyan, $lightness: -10%);

$stripe_wide: 30px;
$stripe_edge: 5px;
$slant_angle: 17deg;
$slant_angle2: 7deg;
$darken_a: 27%;
$darken_b: 35%;
$stripe-angle: 90deg+$slant_angle;

$sepia: hsl($color_rotate+50, 100%, 90%);

$title_text_color: white;
$text_color: $violet_dark;
$subdue_color: rgba($yellow, .50);

$code_color : color.adjust($cyan_dark, $lightness: -10%);
$code_background: rgba($code_color, .15);

$document_background : $sepia;

@mixin slant{
  transform: skew(-$slant_angle2);
}

@mixin slant2{
  transform: skew(-$slant_angle2 * 2);
}


@mixin rhombus {
  @include slant;
  border-radius: .5rem;
  padding: 1rem 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@mixin rhombus_short {
  @include rhombus;
  display: table;
}

div#pinkbar{
 background: $pink;
 height: 8px;
 margin-bottom: 16px;
}

div#cyanbar{
 background: $cyan;
 height: 8px;
 margin-top: 40px;
}


body {

  padding-top: 0;
  margin: 0;
  
  font-family: -apple-system, 
  BlinkMacSystemFont, 
  "Segoe UI", 
  Roboto, 
  Helvetica, 
  Arial, 
  sans-serif, 
  "Apple Color Emoji", 
  "Segoe UI Emoji", 
  "Segoe UI Symbol";
  ;
  color: $text_color;
  background:
  linear-gradient(0deg,
    rgba($pink, .20),
    rgba($cyan, .20),
    ),
  repeating-linear-gradient(-$stripe-angle,
    color.adjust($violet, $lightness: -$darken_a),
    color.adjust($violet, $lightness: -$darken_a) $stripe_wide,
    color.adjust($pinkish_violet, $lightness: -$darken_b) $stripe_wide + ($stripe_edge*0.5),
    color.adjust($violet, $lightness: -$darken_b) $stripe_wide + $stripe_edge,
    color.adjust($violet, $lightness: -$darken_b) 2*$stripe_wide + $stripe_edge,
    color.adjust($cyanish_violet, $lightness: -$darken_b) 2*$stripe_wide + ($stripe_edge*3*0.5),
    color.adjust($violet, $lightness: -$darken_a) 2*$stripe_wide + 2*$stripe_edge,
    ),
  ;
  background-blend-mode: lighten;
}


.wrapper {
  box-shadow: 0px 5px 10px 2px hsla(0, 0%, 0%, 0.5);
}

header,
footer {

  .wrapper {
    background: $violet_dark;
    color: $title_text_color;
  }
}

.wrapper {
  color: $text_color;
  background: $document_background;
}

header {
  #site-title {
    width: 100%;
    float: left;


    .dot {
      color: $pink;
    }

    .htm {
      color: $green;
    }

    .platform {
      color: $title_text_color;
      font-size: 0.6em;
    }

    font-size: 4rem;
    font-family: SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono";
  }

  #site-bar {
    width: 100%;
    float: left;
    vertical-align: middle;
  }

  #site-desc {
    float: left;
    vertical-align: middle;
  }

  #site-nav {
    float: right;
    margin-right: 1rem;
    vertical-align: middle;

    .divider {
      font-size: 2rem;
    }

    a.page-link{ 
     padding: 0 0 0 0.5rem ;
   }

   .div-group{
    display: inline-block;
    @include slant2;
    padding-left: 0.69rem;
    
    span.divider{
      padding: 0;
      margin: 0;
    }
    
    span.divider:nth-of-type(5n+1){
      
      background: #f00;
      border: 2px solid #f00;
      color: #f00;
    }
    span.divider:nth-of-type(5n+2){
      background: #ff0;
      border: 2px solid #ff0;
      color: #ff0;
    }
    span.divider:nth-of-type(5n+3){
      background: #0f0;
      border: 2px solid #0f0;
      color: #0f0;
    }
    span.divider:nth-of-type(5n+4){
      background: #0ff;
      border: 2px solid #0ff;
      color: #0ff;
    }
    span.divider:nth-of-type(5n+0){
      background: #00f;
      border: 2px solid  #00f;
      color: #00f;
    }
  }



}




a {
  color: white;
  text-decoration: none;

  #site-title {
    color: $pink;
  }

  &.page-link {
    color: white;
  }

  &:hover.page-link {
    filter: brightness(150%);
  }
}
}

.small {
  font-size: x-small;
}


.page-content,
footer {


  a {
    color: $green_dark;

    &:hover,
    &:hover:visited {
      color: color.adjust($green_dark, $lightness: 20%);
    }

    &:visited {
      color: color.adjust($green_dark, $lightness: 10%);
    }
  }
}

.page-content {
  font-size: 1.2em;
  strong {
    font-weight: 700;
    color: $violet_dark;
  }

  emphasis {

    color: $pink_dark;
  }
}

@mixin bi_light_1 {
  color: white;
  background:
  repeating-linear-gradient(180deg,
    rgba(white, 0.2),
    rgba(white, 0.0) 100%,
    ),
  repeating-linear-gradient(90deg,
    color.adjust($violet_dark, $lightness: 4%),
    color.adjust($pink, $lightness: -50%) 100%,
    ),
  repeating-linear-gradient(0deg,
    transparent,
    rgba(yellow, .20) 100%,
    );
  background-blend-mode: lighten;
}

@mixin bi_light_2 {
  color: white;
  background:
  repeating-linear-gradient(180deg,
    rgba(white, 0.2),
    rgba(white, 0.0) 100%,
    ),
  repeating-linear-gradient(0deg,
    color.adjust($violet_dark, $lightness: 4%),
    color.adjust($green, $lightness: -35%) 100%,
    ),
  repeating-linear-gradient(-90deg,
    transparent,
    rgba($pink, .20) 100%,
    );
  background-blend-mode: lighten;
}

@mixin bi_light_3 {
  color: white;
  background:
  repeating-linear-gradient(180deg,
    rgba(white, 0.2),
    rgba(white, 0.0) 100%,
    ),
  repeating-linear-gradient(90deg,
    color.adjust($violet_dark, $lightness: 4%),
    color.adjust($cyan, $lightness: -35%) 100%,
    ),
  repeating-linear-gradient(180deg,
    transparent,
    rgba($pink, .20) 100%,
    );
  background-blend-mode: lighten;
}



article {
  *{max-width: 100%}


  $margin_spacer: 2rem;

  .date_string {
    font-size: 2rem;
    $date_weight: 200;
    font-weight: $date_weight !important;

    strong {
      font-weight: $date_weight !important;
      color: color.adjust($green, $lightness: 10%);
    }




  }



  .post-header {

    @include bi_light_3;
    font-size: 2rem;

    header {
      margin: 0;
      padding: 0;
    }

    .title_wrap {
      
      padding: 0px 10px;
      margin: 0;
    }

    * {
      margin: 0;
      margin-left: 2rem;
      padding: 0;
    }

    h1 {
      margin-left: 0rem;

    }
  }

  .post-content {
    margin-top: 0rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;

    .post-meta {
      font-weight: 900;
      font-size: large;
      color: $pink;
      margin-left: $margin_spacer *0.25 ;
    }
    
    .meta-updated{
     font-weight: 900;
     font-size: large;
     color: $cyan_dark;
     margin-left: $margin_spacer *0.25 ; 
   }
   .meta-created{
    font-weight: 900;
    font-size: large;
    color: $pink;
    margin-left: $margin_spacer *0.25 ;
  }
    .meta-version{
    font-weight: 900;
    font-size: large;
    color: $darkyellow;
    margin-left: $margin_spacer *0.25 ;
  }


  audio {
    width: 100%;
  }


    ul,
    ol {
      margin-left: $margin_spacer;
      margin-right: $margin_spacer*0.5;
      line-height: 1.7em;
      margin-bottom: 2em;
    }

    blockquote>* {
      margin: 0;
      padding: 0;
    }

    @mixin block_content {
      margin-top: $margin_spacer*0.5;
      margin-bottom: $margin_spacer*0.5;
    }

    twitter-widget {
      margin-right: auto;
      margin-left: auto;
      @include block_content;
    }

    blockquote,
    pre {
      margin-left: $margin-spacer * 3 *0.5;
      margin-right: $margin_spacer*0.5;
      @include block_content;
      line-height: 1.5em;
      padding: 1em;
    }

    $blockquote_border_width : 4px;

    blockquote {
      border-left: $blockquote_border_width $cyan_dark solid;
      background: rgba($cyan_dark, 0.1);
    }

    pre {
      border-left: $blockquote_border_width $code_color solid;
      background: rgba($code_color, 0.1);
      overflow-x: scroll;
    }

    p code {
      background: $code_background;
      padding: 0.2em;
      color: black;
    }













    h1 {
      @include rhombus;
      @include bi_light_1;
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
      @include rhombus_short;
      padding: 0.67rem 1.5rem;
      $text_color: $green_dark;
      color: $text_color;
      border: 4px $text_color solid;
    }

    h3 {
      @include rhombus_short;
      padding: 0.5rem 1rem;
      margin-left: $margin_spacer;
      $text_color: $pink_dark;
      color: $text_color;
      border: 4px $text_color solid;
    }

    h4 {
      @include rhombus_short;
      padding: 0.5rem;
      margin-left: $margin_spacer*2;
      $text_color: $cyan_dark;
      color: $text_color;
      border: 4px $text_color solid;
    }

    h5,
    h6 {}
  }
}

ul.post-list {
  margin-left: 0 !important;
  padding-left: 0 !important;
  list-style-type: none;

  a {

    &:hover,
    &:hover:visited,
    {
      text-decoration: underline;
    }

    &,
    &:visited {
      text-decoration: none;
    }
  }

  li {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      background: #fff2;
      border-radius: .5rem;
      padding: .5rem;
    }


  }
}

footer {

  .foot_wrapper {
    width: 100%;
    height: 100px;
  }

  .linklist-link a {
    fill: $green;

    svg {
      transition: all .2s ease-in-out;
    }

    svg:hover {
      transform: scale(1.5);
    }

    &:hover {
      &.github {
        fill: white;
      }

      &.twitter {
        fill: #00aced;
      }

      &.mastodon {
        fill: #4988CE;
      }

      &.discord {
        fill: #7289DA;
      }

      &.rss {
        fill: orange;
      }
    }
  }
}

footer {
  .linklist {
    width: 50%;
    float: right;

    .linklist-link {
      float: right;
      margin: 10px;
      width: 48px;
      display: table;

      a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width - ($spacing-unit * 2);
  margin-right: auto;
  margin-left: auto;


  @extend %clearfix;
  padding-right: $spacing-unit *0.5;
  padding-left: $spacing-unit *0.5;

  margin-top:0;
  margin-bottom:0;

  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  
}

/**
 * Clearfix
 */
 %clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
