$spacing-unit: 20px;


$theme_violet: hsl(260, 100%, 10%);
$theme_green: #0f0;
$theme_green_dark: hsl(130, 100%, 10%);
$theme_pink: hotpink;
$theme_yellow: lighten(yellow, 35%);
$text_color: rgba($theme_yellow, 70%);
$subdue_color: rgba($theme_yellow, 50%);
$blockquote_color: rgba($theme_yellow, 15%);

$stripe_wide: 30px;
$stripe_edge: 15px;

$slant_angle: 17deg;
$slant_angle2: 7deg;

$stripe-angle: 90deg+$slant_angle;

body {

  padding-top: 2rem;
  padding-bottom: 12rem;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  ;
  color: $text_color;
  background:
    linear-gradient(90deg,
    rgba(black, 40%) 10%,
    transparent 20%,
    transparent 100%-20%,
    rgba(black, 40%) 100%,
    ),


    linear-gradient(0deg,
    rgba(hotpink, 20%),
    transparent,
    rgba(cyan, 20%),
    ),
    repeating-linear-gradient(-$stripe-angle,
    lighten($theme_violet, 5%),
    lighten($theme_violet, 5%) $stripe_wide,
    lighten($theme_violet, 10%) $stripe_wide + $stripe_edge,
    lighten($theme_violet, 10%) 2*$stripe_wide + $stripe_edge,
    lighten($theme_violet, 5%) 2*$stripe_wide + 2*$stripe_edge,
    ),
  ;
  background-blend-mode: lighten;
}



.wrapper {
  color: $text_color;
  background: $theme_violet;
  box-shadow: 0px 5px 10px 2px black;
}





header {
  .wrapper {
    background: darken($theme_violet, 4%);
  }



  #site-title {
    width: 100%;
    float: left;

    .dot {
      color: $theme_pink;
    }

    .htm {
      color: $theme_green;
    }

    .platform {
      color: $text_color;
    }


    font-size: 4rem;
    font-family: SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono";
  }

  #site-bar {
    width: 100%;
    float: left;
    vertical-align: middle;
  }


  #site-desc {
    float: left;
    vertical-align: middle;
  }

  #site-nav {
    float: right;

    .divider {
      font-size: 2rem;
    }

    * {
      vertical-align: middle;
    }
  }


  .divider {
    color: $theme_pink;
  }

  a {
    color: white;
    text-decoration: none;

    #site-title {
      color: $theme_pink;

    }

    &.page-link {
      color: white;
    }

    &:hover.page-link {
      filter: brightness(150%);
    }
  }
}

.page-content {
  a {

    color: #0a0;

    &:hover,
    &:hover:visited {
      color: $theme_green;
    }

    &:visited {
      color: darken($theme_green, 10%);
    }
  }
}



@mixin bi_light_1 {
  background: repeating-linear-gradient(90deg,
    lighten($theme_violet, 4%),
    darken($theme_pink, 50%) 100%,
    ),
    repeating-linear-gradient(0deg,
    transparent,
    rgba(yellow, 20%) 100%,
    );
  background-blend-mode: lighten;
}

@mixin bi_light_2 {
  background:
    repeating-linear-gradient(0deg,
    lighten($theme_violet, 4%),
    darken($theme_green, 35%) 100%,
    ),
    repeating-linear-gradient(-90deg,
    transparent,
    rgba($theme_pink, 20%) 100%,
    );
  background-blend-mode: lighten;
}

@mixin bi_light_3 {
  background:
    repeating-linear-gradient(90deg,
    lighten($theme_violet, 4%),
    darken(cyan, 35%) 100%,
    ),
    repeating-linear-gradient(180deg,
    transparent,
    rgba($theme_pink, 20%) 100%,
    );
  background-blend-mode: lighten;
}


@mixin rhombus {
  border-radius: .5rem;
  padding: 1rem 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transform: skew(-$slant_angle2);
}

@mixin rhombus_short {
  @include rhombus;
  display: table;
}





article {

  $margin_spacer: 2rem;


  .post-header {
    // background: $theme_green_dark;

    @include bi_light_3;
    font-size: 2rem;


    * {
      margin: 0;
      margin-left: 2rem;
      padding: 0;
    }

    h1 {
      margin-left: 0rem;
      // transform: skew(-$slant_angle2);
    }

  }



  .post-content {

    margin: 2rem;


    .post-meta {
      font-weight: 900;
      font-size: large;
      color: hotpink;
      margin-left: $margin_spacer/4;
    }

    // p {
    // text-indent: $margin_spacer*1/4;
    // }

    p,
    ul,
    ol {
      margin-left: $margin_spacer;
      margin-right: $margin_spacer/2;
      line-height: 1.7em;
      margin-bottom: 2em;
    }

    blockquote>* {
      margin: 0;
      padding: 0;
    }

    @mixin block_content {
      margin-top: $margin_spacer/2;
      margin-bottom: $margin_spacer/2;

    }

    twitter-widget {
      margin-right: auto;
      margin-left: auto;
      @include block_content;
    }

    blockquote,
    pre {
      margin-left: $margin_spacer * 3/2;
      margin-right: $margin_spacer/2;

      @include block_content;

      line-height: 1.5em;
      padding: 1em;

      background: $blockquote_color;
    }

    $blockquote_border_width : 4px;

    blockquote {
      border-left: $blockquote_border_width cyan solid;
    }



    pre {
      border-left: $blockquote_border_width red solid;
    }

    p code {
      background: $blockquote_color;
      padding: 0.2em;
      color: white;

    }

    // pre span {
    //   display: block;
    // }

    // pre span:before {
    //   counter-increment: line;
    //   content: counter(line);
    //   display: inline-block;
    //   border-right: 1px solid #ddd;
    //   padding: 0 .5em;
    //   margin-right: .5em;
    //   color: #888
    // }



    h1 {
      @include rhombus;
      @include bi_light_1;
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
      @include rhombus_short;
      
$text_color: $theme_green;
      color: $text_color;
      border: 4px $text_color solid;
    }
    

    h3 {
      @include rhombus_short;
      padding: 0.5rem;
      margin-left: $margin_spacer;
      $text_color: $theme_pink;
color: $text_color;
border: 4px $text_color solid;
    }

    h4,
    h5,
    h6 {}
  }
}


ul.post-list {
  list-style-type: none;

  a {

    &:hover,
    &:hover:visited,
      {
      text-decoration: underline;
    }

    &,
    &:visited {
      text-decoration: none;
    }
  }

  li {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      background: #fff2;
      border-radius: .5rem;
      padding: .5rem;

    }

    @include rhombus;

  }
}


footer {
  .wrapper {
    background: darken($theme_violet, 4%);
    // filter: brightness(50%);
  }

  .linklist-link * {
    fill: $theme_green;
  }
}











footer {


  .linklist {
    width: 50%;
    float: right;

    .linklist-link {
      float: right;
      margin: 10px;
      width: 48px;
    }
  }

}




// /**
//  * Wrapper
//  */
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));

  margin-right: auto;
  margin-left: auto;
  // padding-right: $spacing-unit;
  // padding-left: $spacing-unit;
  @extend %clearfix;

  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));


    margin-right: $spacing-unit / 4;
    margin-left: $spacing-unit / 4;
  }

  margin-top:0;
  margin-bottom:0;

  // padding-top: 0 ;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}


/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
