$header_stripe: 20px;


.site-header {
  background: repeating-linear-gradient(27-90deg,
    darken($brand_1, 35%),
    darken($brand_1, 35%) $header_stripe,
    darken($brand_1, 30%) $header_stripe,
    darken($brand_1, 30%) $header_stripe*2);
}

.site-header a {
  font-weight: bolder;

  &,
  &:visited {
    color: darken($brand_2, 15%);
  }

  &:hover {
    color: $brand_2;
    text-decoration: underline;
  }
}




$doc_corner: 30px;
$long_doc: ($doc_corner/2) * 1.4142135624;
$border_thick: 3px;

$doc_padding: 20px;


$border_color: darken(white, 25%);
$doc_back: darken($border_color, 45%);
$border_color_trans: rgba($border_color, 0);

$border_number: 240;

.post-list>li {
  // width: 50%;
  margin: 60px 40px;

  border-image-source: url('/image/doc_border.png');
  border-image-slice:  263 289 263*2 289*2;
  border-image-width:  25 25 25 25 ;
  border-image-outset: 20px 22px 25px 22px;
  border-image-repeat: stretch;

  background: #323232;
  // background: red;


}


a {
  $link_color: desaturate($brand_2, 50%);
  color: desaturate($brand_2, 50%);
  text-decoration: none;

  &:visited {
    color: darken($link_color, 5%);
  }

  &:hover {
    color: $brand_2;
    text-decoration: underline;
  }
}
