---
layout: default
default_bullet: 🎨
hide_image: yes
---

{% if page.image %}<img src="{{page.image | prepend: "/posts/art/image/"}}" alt="{{page.title}}"/>{% endif %}

{% if page.materials or page.tools%}
    <div class="plaque">
        {% if page.materials %}
            <strong>Materials</strong>
            <ul>
                {% for material in page.materials %}
                    <li>{{material}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if page.tools %}
            <strong>Tools</strong>
            <ul>
                {% for tool in page.tools %}
                    <li>{{tool}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}

{{ content }}
