<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  <div class="page-content">
    <article class="post">
      {% include post-header.html %}
      <div class="wrapper">
        <div class="post-content">
          {% if page.image %}
          <img src="{{ page.image | absoute_url }}" />
          {% else if layout.default_image %}
          <img src="{{ layout.default_image | absoute_url }}" />
          {% endif %}
          {{ content }}
        </div>
      </div>
    </article>
  </div>
  {% include footer.html %}
</body>
</html>
