---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="wrapper post-header">
    <header>
      <h1 class="post-title" itemprop="name headline">{%if page.bullet%}{{page.bullet}}{%else%}✎{%endif%} {{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </header>
  </div>
  <div class="wrapper">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </div>
  <div class="wrapper comments">
    <p>Have a comment or question about this post? <a href="mailto:dothtm@icloud.com?subject=Comment -> {{ page.title }}&amp;body=%23%20Comment%20on%0A%20%20%20%20{{page.url | prepend: site.url }}%0A%0A%23%20Your%20comment%0A%0A%0A%0A%0A%23%20May%20I%20share%20your%20comment%20publicly%3F%0A%0AYes%20/%20No%0A%0A%0A">Let me know</a>.</p>
    <!-- comment code would appear here -->
  </div>
</article>
